@charset "UTF-8";

/* 半角対策すると一部機種で「文字の半分だけ消える」現象が起こる。 */
/* １カラムの場合やらなくても支障はでないと思うので、指定を行わないこととする。 */

body,div,pre,p,blockquote,
form,fieldset,input,textarea,select,option,
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
table,th,td,embed,object {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

html{overflow-y:scroll;}
ol,ul{list-style:none;}
fieldset,img{border:0;}

img {
	border-width: 0px;
	border-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* unicode文字方向指定 */
* {
		direction: ltr;
		unicode-bidi: bidi-override;
}

ruby, rb, rt, rbc, rtc { unicode-bidi: normal; }


/* ページの基本レイアウト */

body {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 14px;
	background: #ffffff;
	color: #333333;
	-webkit-text-size-adjust: 100%;
}

 input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }

a {
	text-decoration: none;
	color: #0033cc;
}

a:visited {
	color:#885577;
}

input,button {
	font-size:14px;
}

li {
	text-decoration: none;
	list-style: none;
}

p {
	margin: 5px 0px 10px 0px;
}


#novel_contents {
	clear:both;
}

/* ------禁則処理------ */
body {
	word-break: normal !important;
	word-wrap: break-word;
}
/* ----------------- */

/****** 広　告 ******/
.koukoku{
	margin: 10px auto;
	text-align:center;
	width:320px;
}

.koukoku-w-auto{
	margin: 10px auto;
	text-align:center;
}

.koukoku_rectangle{
	margin: 20px auto;
	text-align:center;
	width:320px;
}

.koukoku_rectangle-w-auto{
	margin: 20px auto;
	text-align:center;
}

.koukoku_native_normal{
	background:#fff;
}

/* ログインしてない時の非表示 */
.nologin_noadd {
	padding: 10px;
	color:#dd0000;
	background:#eeeeee;
	text-align:left;
}

/* 凍結解除の案内 感想・レビューページ */
.attention_suspended_com {
	padding: 10px;
	background:#eee;
}



.koukoku_infotop{
	margin: 30px auto 20px auto;
	text-align:center;
}

a#xuser_input {
	display:block;
	margin: 20px 0px 10px 0px;
	padding: 10px;
	text-align:center;
	color:#ffffff;
	background: -moz-linear-gradient(top,#aaddee,#aaddee 5%,#0ad 5%,#08a 95%,#08a 95%,#00293D);
	background: -webkit-gradient(linear, left top, left bottom, from(#aaddee), color-stop(0.05,#aaddee), color-stop(0.05,#0ad), color-stop(0.95,##08a), color-stop(0.95,#00293D), to(#00293D));
	border: 1px solid #dddddd;

}

/******** 目次 ********/

.novel_sublist{
	margin: 20px 0px 20px 0px;
	font-size: 115%;
	border-bottom: 1px solid #dddddd;
	clear:both;
}

.novel_sublist li{
	margin: 10px 10px 20px 10px;
	font-size:90%;
}

/* 章 */

li.chapter{
	margin: 30px 10px 10px 10px;
	font-weight: bold;
	font-size:105%;
}


/********* レコメンド *********/

#recommend {
	margin: 10px 10px 10px 5px;
	padding:0px 0px 5px 0px;
	background:#e9e9e9;
	border:1px solid #999999;
	height:300px;
	overflow:auto;
	line-height: 150%;
}

#recommend #more_recommend{
	margin: 0px 0px 20px 0px;
	padding: 3px 0px;
	width:98%;
	text-align:center;
}

#recommend h3 {
	padding: 5px 8px;
	border-left:3px solid #99aacc;
	font-size:100%;
	color:#666666;
	background:#fcfcfc;
}


.recommend_novel {
	margin: 2px 2px;
	padding: 8px 10px;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	font-size:95%;
	background: #fefdfd;
}

.recommend_novel a{
	text-decoration: underline;
}


.reconovel_title {
	font-size:120%;
	font-weight:bold;
	clear:both;
}

.recommend_ex{
	margin: 10px 3px 5px 3px;
	line-height: 130%;
}


ul.reco {
	margin: 3px 0px;
}

ul.reco li {
	margin: 3px 0px 0px 0px;
	padding: 2px 10px 2px 0px;
	list-style: none;
	float: left;
	display: block;
}

ul.reco li.genre {
	margin: 3px 10px 0px 0px;
	border:1px solid #cccccc;
	padding: 2px 4px 2px 4px;
	background:#ffffff;
	font-size: 90%;
}

ul.reco li.user {
	margin-right: 10px;
	padding: 2px 4px;
	background:#ccffee;
	color:#00A069;
	font-size: 90%;
}





/* novel_view用 */
.novel_view p{
	margin: 0;
	padding:0;
}


#series{
	margin: 20px 10px 10px 10px;
	font-size: 90%;
	text-align: center;
}


.novel_title {
	margin: 20px 10px 10px 10px;
	padding: 0px;
	font-size: 130%;
	text-align: center;
	font-weight: bold;
	line-height: 130%;
	clear: both;
}

.novel_writername{
	text-align: center;
	font-size: 95%;
	margin: 0px 10px 15px 10px;
}



#novel_color{
	font-size: 100%;
	line-height: 150%;
}


#novel_no {
	margin: 0px 10px 0px 0px;
	text-align: right;
	color:#999999;
	font-size: 90%;
}


#novel_p{
	margin: 20px 5px 20px 5px;
	padding: 15px 10px;
	border-bottom: 1px solid #b4b4b4;
}

#novel_honbun {
	margin: 20px 15px 20px 15px;
}

#novel_a{
	margin: 15px 5px 0px 5px;
	padding: 15px 10px;
	border-top: 1px solid #b4b4b4;
}

.novel_subtitle{
	margin: 0px 10px 10px 15px;
	font-size: 120%;
	text-align:center;
}


.novel_bar{
	margin-top: 20px;
}


.novel_pn{
	font-size: 80%;
	margin: 20px 0px 10px 0px;
	border-top: 1px solid #b4b4b4;
	border-bottom: 1px solid #b4b4b4;
}

.novel_pn:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
}

#novel_ex{
	margin: 0px 10px 20px 10px;
	line-height: 180%;
	text-align: left;
	font-size: 90%;
}

.kaikou {
	font-size: 80%;
}

.novel_writername2{
	margin-top: 10px;
	font-size: 80%;
}



/* ページ下注意書き */

#novel_attention{
	margin: 5px;
	padding: 10px 10px 10px 10px;
	font-size: 89%;
	text-align: left;
	line-height: 170%;
	border: 2px solid #dddddd;
	background: #ffffff;
}

#novel_attention h3{
	margin: 0px 0px 10px 0px;
	text-align: center;
	font-size: 105%;
}



/* 開閉メニューボタン用CSS */

.toggle_point{
	margin: 0px 0px 3px 0px;
	padding: 13px;
	color: #333333;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: url(/novelview/img/opentab.gif) no-repeat center right #fcfcfc;
}

.toggle_pointclose{
	padding: 13px;
	color: #333333;
	border-top: 1px solid #cccccc;
	display:none;
	background: url(/novelview/img/closetab.gif) no-repeat center right #fcfcfc;
}

.toggle_imp{
	margin: 20px 0px 3px 0px;
	padding: 13px;
	color: #333333;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: url(/novelview/img/opentab.gif) no-repeat center right #fcfcfc;
}

.toggle_impclose{
	margin-top: 20px;
	padding: 13px;
	color: #333333;
	background: #fcfcfc;
	border-top: 1px solid #cccccc;
	display: none;
	background: url(/novelview/img/closetab.gif) no-repeat center right #fcfcfc;
}

.toggle_rev{
	margin-bottom: 20px;
	padding: 13px;
	color: #333333;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background: url(/novelview/img/opentab.gif) no-repeat center right #fcfcfc;
}

.toggle_revclose{
	padding: 13px;
	color: #333333;
	background: #fcfcfc;
	border-top: 1px solid #cccccc;
	display: none;
	background: url(/novelview/img/closetab.gif) no-repeat center right #fcfcfc;
}

.toggle_kikaku{
	padding: 13px;
	font-size: 90%;
	text-align: left;
	color: #333333;
	background: #fcfcfc;
	border-top: 1px solid #cccccc;
}

.toggle_kikakuclose{
	padding: 13px;
	font-size: 90%;
	text-align: left;
	color: #333333;
	background: #fcfcfc;
	border-top: 1px solid #cccccc;
	display: none;
}



.page_navi {
	margin:10px;
	text-align: center;
}


/* ページ遷移 */

.novel_bn {
	font-size: 85%;
	margin: 20px 0px;
	text-align: center;
	line-height: 100%;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	line-height:35px;
}
.novel_bn.footer {
	margin: 20px 0px 0px 0px;
}

.novel_bn:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
}

.link_prev,.link_back,.link_next{
	width: 33%;
	padding: 1px 0px;
}

.link_prev a,.link_back a,.link_next a{
	display:block;
}

.link_prev{
	float: left;
}

.link_back{
	float: left;
	border-right: 1px solid #b4b4b4;
	border-left: 1px solid #b4b4b4;
}

.link_next{
	float: right;
}


/* 前回の評価 */
#my_novelpoint{
	margin:20px 0px 20px 0px;
	padding: 10px 0px;
	border:10px solid #fefedd;
	text-align:center;
}

#my_novelpoint p{
	margin:10px 0px 10px 0px;
}

label {
	margin-right:10px;
}


/* 評価欄 */

.novel_hyouka {
	padding: 10px;
	line-height: 150%;
	border-top: 1px dotted #cccccc;
	background: #ffffff;
	color: #333333;
	display: none;
}

.hyoukanavi_title {
	margin-bottom: 10px;
	text-align:center;
	font-weight:bold;
	font-size: 110%;
}

.novel_bottom a{
	color: #333333;
}

.novel_bottom a:visited{
	color: #333333;
}



/* レイアウト設定を影響させない枠 */
.novellayout_textcolor_df a{color: #0033cc !important;}
.novellayout_textcolor_df a:visited{color: #0033ccc !important;}



/***** 評価まわりの枠 *****/
.impression_infoadd {
	margin: 10px 0px 0px 0px;
	line-height: 200%;
}


.hyoukanavi {
	margin: 20px auto 0px auto;
	padding: 0px;
	text-align: left;
	line-height: 150%;
}

.impression_form {
	padding: 15px 10px 10px 10px;
	display: none;
	line-height: 150%;
	clear: both;
	border-top: 1px dotted #b4b4b4;
	background: #ffffff;
	color: #333333;
}

.impression_form a,.review_form a{
	color: #0033cc;
}

.impression_form a:visited,.review_form a:visited {
	color:#885577;
}

.review_form {
	margin-bottom: 20px;
	padding: 15px 10px 0px 10px;
	border-top: 1px solid #b4b4b4;
	border-bottom: 1px solid #b4b4b4;
	background: #ffffff;
	color: #333333;
}

.no_accept {
	margin: 10px 10px 10px 10px;
	padding: 10px;
	font-size: 85%;
	border-top: 3px double #cccccc;
	border-bottom: 3px double #cccccc;
	text-align: center;
	color:#333333;
	background:#fefefe;
}

.left{
	text-align: left;
}


#sns_button{
	margin: 20px 0px 20px 0px;
	text-align: center;
}

.twitter {
	margin: 0px 50px 0px 0px;
}

/* 公式企画応援ボタン */
.wrap_eventpoint {
	margin: 0 auto;
	width: 320px;
	height: 250px;
	padding-top: 180px;
	box-sizing: border-box;
	background-image: url(/novelview/img/event/bg_support.png);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
}
.wrap_eventpoint button {
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
	text-align: center;
	border-radius: 2em;
	padding: 0.5em 1em;
	color: #fff;
	border: 2px solid #edc844;
	background-color: rgba(237, 200, 68, 0.5);
}

/* 警告表示 */
#warning {
	margin:0px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	line-height:150%;
	text-align:left;
	background:#ffffff;
	color: #333333;
	font-size:85%;
}

ul#warning_navi {
	margin:0px 0px 40px 0px;
}

ul#warning_navi li{
	margin:0px 0px 20px 0px;
	text-align:center;
}

ul#warning_navi li:nth-of-type(1n){color:#666666;}
ul#warning_navi li:nth-of-type(2n){color:#999999;}
ul#warning_navi li:nth-of-type(3n){color:#bbbbbb;}
ul#warning_navi li:nth-of-type(4n){color:#dddddd;}


/* 評価フォーム */

.section{
	margin: 20px 10px 30px 10px;
}

.box_point {
	font-size:110%;
	line-height:180%;
}

textarea {
	margin: 5px 0px 5px 0px;
	padding: 3px 2px;
	width: 97%;
	height: 10em;
}

input[type="radio"] {
	margin-right: 5px;
}

input[type="checkbox"] {
	margin-right: 5px;
}

input[type="text"] {
	margin: 5px 0px 5px 0px;
	width: 90%;
	padding: 3px 2px;
}

input[type="text"].mini {
	width: 150px;
}

.marginleft{
	margin-left: 15px;
}

/* 文字サイズ変更 */
.fontsize{
	text-align: left;
	margin: 0px 0px 0px 10px;
	font-size:80%;
}

.fontsize a{
	margin:0px 5px;
	padding:0px 5px;
	color:#0033cc;
	font-size:110%;
}

.analog{
	text-align: left;
	margin: 0px 0px 0px 10px;
	font-size:80%;
}

.analog a{
	color:#0033cc;
	font-size:110%;
}




.old_hyouka{
	font-size: 80%;
	font-weight: normal;
}

.clr{
	clear: both;
}

/* フッタ */

#footer {
	padding: 10px 0px 10px 0px;
	border-top:1px solid #cccccc;
	background:#fcfcfc;
}

#footer a {
	color: #0033cc;
}

#footer a:visited {
		color:#885577;
}



.upper {
	margin: 20px 10px 20px 0px;
	text-align:right;
	font-size:85%;
}


#footernavi {
	line-height: 150%;

}

#footernavi p{
	margin:0px 0px 5px 0px;
	text-align:center;
	color: #aaaaaa;
}

#footernavi a{
	margin: 10px 5px;
	font-size:90%;
	line-height:30px;
}


ul:after {
	content: "";
	display: block;
	clear: both;
}


#novel_footer {
	margin: 20px 5px;
	padding: 8px 0px;
	border-top:3px double #999999;
	border-bottom:3px double #999999;
}

#novel_footer ul.undernavi li {
	margin: 0px 10px 0px 10px;
	float: left;
	text-align: center;
}


/* 注意書き */

.attention {
	color:#dd0000;
}

.attention_box {
	padding: 0px 10px 10px 10px;
	color:#dd0000;
	font-size:90%;
}

/* 枠周りのスペース空け */
.margin_box {
	margin: 10px;
}

.margin_2010 {
	margin: 20px 10px;
}

.rankingtag_margin{
	margin: 30px 20px;
	text-align: center;
}

.a_line{
	text-align:right;
}

p.a_line{
	text-align:right;
}

/* 評価関係 */
.ncom_h1 {
	margin: 10px 0 15px 0px;
	font-size: 120%;
	font-weight: bold;
}

/* トラックバック */
.trackback_info {
	padding: 10px 15px 15px 10px;
	font-size: 85%;
	line-height:170%;
}

#trackback_attentionbox {
	margin: 10px 10px 15px 10px;
	font-size: 95%;
	padding:10px;
	font-weight:bold;
	border:1px solid #ccaaaa;
}

.trackback_attention {
	margin-top: 5px;
	word-break: break-all;
	font-size: 85%;
	color:#cc3333;
}

.list_box {
	padding: 10px;
	border-top:1px solid #aaaacc;
}

.list_box p{
	font-size: 85%;
	line-height:140%;
}

.tbexcerpt {
	color:#666666;
}

/* ボタン */

.button_box {
	margin: 20px 0px 10px 0px;
	padding: 0px;
	text-align: center;
}


.button_caution {
	margin: 5px auto 5px auto;
	padding: 5px 0px 5px 0px;
	display:inline-block;
	text-align: center;
	font-size:110%;
	font-weight:bold;
	font-family: monospace;
			color: #335;
	-moz-border-radius:5px / 5px;
	-webkit-border-radius:5px / 5px;
	-o-border-radius:5px / 5px;
	-ms-border-radius:5px / 5px;
	border:1px solid #dd6666;
	background: -moz-linear-gradient(#ffeeee,#ffaaaa,#cc5555);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffeeee),color-stop(0.3, #ffaaaa), to(#cc5555));
}

a.button_tirikeshi {
	margin: 10px auto 10px auto;
	padding: 5px 0px 5px 0px;
	width:130px;
	text-align: center;
	line-height:100%;
	font-weight:bold;
			color: #335;
	border:1px solid #dd6666;
	background: -moz-linear-gradient(#ffeeee,#ffaaaa,#cc5555);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffeeee),color-stop(0.3, #ffaaaa), to(#cc5555));
	display:block;
}

.button_conf {
	margin: 5px auto 5px auto;
	padding: 5px 10px 5px 10px;
	display:inline-block;
	text-align: center;
	font-size:110%;
	font-weight:bold;
	font-family: monospace;
			color: #666;
	-moz-border-radius:5px / 5px;
	-webkit-border-radius:5px / 5px;
	-o-border-radius:5px / 5px;
	-ms-border-radius:5px / 5px;
	border:1px solid #ddbb88;
	background: -moz-linear-gradient(#ffffff,#ffff99,#ffff66);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),color-stop(0.3, #ffff99), to(#ffff66));
}

.button_go {
	margin: 5px auto;
	padding: 5px 10px;
	display:inline-block;
	text-align: center;
	font-size:110%;
	font-weight:bold;
	font-family: monospace;
			color: #666;
	-moz-border-radius:5px / 5px;
	-webkit-border-radius:5px / 5px;
	-o-border-radius:5px / 5px;
	-ms-border-radius:5px / 5px;
	border:1px solid #aabbaa;
	background: -moz-linear-gradient(#ffffff,#ccddee);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ccddee));
}

a.button_go {
	color: #666666 !important;
}

.bb {
	font-weight: bold;
	font-size: 105%;
}

.letter_limit {
	color: #666666;
	font-size: 95%;
}

.longstop {
	margin: 15px 10px 10px 10px;
	font-size:90%;
	text-align: left;
	line-height:170%;
}


/* XID用 */

#x_container {
	text-align:left;
	line-height:180%;
	font-size:90%;
}

#x_container h1{
	margin: 0px 0px 10px 0px;
	padding:5px 5px 5px 10px;
	font-size:140%;
	background:#ffcccc;
}

#x_container h2{
	margin: 10px 0px 2px 0px;
	font-size:100%;
}

#x_container h3{
	margin: 20px 0px 2px 0px;
	padding-top:10px;
	font-size:100%;
	border-top:1px dashed #333333;
}

.s {
	line-height:150%;
	font-size:85%;
}

/* 感想削除メッセージ */
.delete_message{
	color: #666666;
}
.execute-hidden {
		 visibility: hidden !important;
}



/******** 感想一覧 ********/

/* すべて表示 */
.display_all {
	padding:5px 0;
	width:80px;
	text-align:center;
	font-size:12px;
	border:1px solid #aaa;
	border-radius:3px;
	display:inline-block;
	box-sizing: border-box;
}



/******** header ********/

#novel_header {
	width:100%;
	text-align:left;
	border-bottom:1px solid #cccccc;
	background:#ffffff;
}

#novel_header:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
}

.contents1 {
	margin: 0px 10px;
	padding: 10px 0px 5px 0px;
	line-height:140%;
}
.contents1 p.writername{
	margin: 10px 5px 10px 0px;
	text-align:right;
}

.margin_lr10{
	margin: 0px 10px;
}

.margin_lr005{
	margin: 0px 5px 0px 0px;
	color:#dd3333;
}



#header_main {
	text-align:left;
	padding: 13px 10px;
	background:#ffffff;
}
#header_main:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
}

.osusume {
	margin: 10px 0px 15px 10px;
	clear: both;
	font-size: 90%;
}

.osusume a {
	color: #0033cc;
	text-decoration:underline;
}

.osusume a:visited {
		color:#885577;
}

/* 凍結解除の案内 */
.attention_suspended {
	margin: 15px;
	clear: both;
	font-size: 90%;
}

.attention_suspended a {
	color: #0033cc;
	text-decoration:underline;
}

.attention_suspended a:visited {
		color:#885577;
}


/******** 閲覧メニュー ********/

.novelview_navi {
	margin: 0px;
	clear:both;
}
.novelview_navi:after {
		content: "";
		clear: both;
		height: 0;
		display: block;
		visibility: hidden;
}

ul#head_nav {
	padding: 10px 0px;
	border-top:1px solid #e0e0ee;
	border-bottom:1px solid #e0e0ee;
	background: #f6f6f6;
}

ul#head_nav li {
	margin: 0px 0px 0px 0px;
	border-right:1px solid #cccccc;
	text-align:center;
	float: left;
	display: block;
	width:23%;
	font-size:85%;
	line-height:20px;
}

ul#head_nav li:nth-of-type(4n) {
	width:30%;
	border:none;
}

ul#head_nav li a {
	padding: 3px 0px 3px 0px;
	color: #666666;
	display: block;
}

a#home,a#xhome,a#login{
	padding: 3px 0px 3px 23px;
	color: #666666;
	display: block;
	font-weight:bold;
	float: left;
	font-size:90%;
}

a#login{
	background:url(/novelview/img/login.gif) no-repeat 2px 3px;
	width:60px;
}

a#home{
	background:url(/novelview/img/home.gif) no-repeat 0px 3px;
	width:45px;
}

a#xhome{
	background:url(/novelview/img/home.gif) no-repeat 0px 3px;
	width:60px;
}

#header_main a.list,#header_main a.xlist {
	margin: 0px 0px 0px 10px;
	padding: 3px 0px 3px 13px;
	color: #666666;
	display: block;
	font-weight:bold;
	float: left;
	font-size:90%;
	border-left:1px solid #cccccc;
}
#header_main a.list{
	width:70px;
}
#header_main a.xlist{
	width:90px;
}

a#bottom_link{
	margin: 5px 0px 0px 0px;
	float:right;
	width:70px;
	font-size: 80%;
	text-align:right;
	display: block;
	color: #0033cc;
}

a#bottom_link:visited {
	color:#885577;
}



/* 小説表示メニュー */

/* 開閉メニューボタン用CSS */
.toggle_menuclose {
	display:none;
}

.toggle,.toggle_menuclose{
	margin: 10px 5px 10px 5px;
	width:50px;
	float:right;
	text-align:center;
	font-size: 85%;
	padding: 3px 10px;
	color: #999999;
	border:1px solid #cccccc;
	border-bottom:1px solid #aaaaaa;
	background:#fcfcfa;
position: relative; top: 0px;
	z-index: 3;

}

.toggle_menuclose{
	display: none;
	color: #ffffff;
	border:1px solid #aaaaaa;
	border-bottom:1px solid #aaaaaa;
	background:#cccccc;
}


#novelview_menu {
	margin: 5px 5px 5px 5px;
	padding: 10px;
	border:1px solid #cccccc;
	clear:both;
	display:none;
	line-height:200%;
}

#novelview_menu a {
	color: #0033cc;
}


#novelview_menu img{
	margin: 0px;
}


#novelview_menu input[type="text"]{
	margin: 0px 5px 0px 0px;
	width:25px;
	background:#eeeeee;
}

#novelview_menu p.h3{
	margin: 10px 0px 5px 0px;
	padding: 0px 5px;
	background:#eef3ff;
	color: #333333;
}

#novelview_menu label{
	margin: 0px 0px 5px 0px;
}


#novelview_menu ul{
	margin: 5px 0px 0px 0px;
	height:25px;
}

#novelview_menu li{
	float:left;
	width:60px;
	text-align:left;
}

#novelview_menu li.size{
	margin-right:10px;
	width:25px;
}

#novelview_menu li.size a{
	font-size: 120%;
	padding: 3px 7px;
	border:1px solid #999999;
	background:#ffffff;
	color:#444444;
	border-top:1px solid #ccddff;
	border-left:1px solid #ccddff;
	border-right:1px solid #66aacc;
	border-bottom:1px solid #66aacc;
}



/******** ブックマークここから ********/

ul#bkm{
	margin: 10px 0px 0px 5px;
	float:left;
	width:230px;
	font-size:85%;
}

ul#bkm li {
	margin: 0px 0px 10px 0px;
	float:left;
	line-height: 18px;
}

ul#bkm li a{
	display:block;
}

ul#bkm li.booklist a{
	font-size:12px;
	padding: 3px 10px;
	background:#fffaf4;
	border:2px solid #f4c28d;
	color:#efac6a !important;
	text-align:center;
	font-weight:bold;
}

.button_bookmark {
	font-size:12px;
	padding: 5px 10px;
	border-style:solid;
	border-width:2px;
	text-align:center;
	font-weight:bold;
}



/* ブクマ ログイン状態の表示 */
.booklist .login {
	background:#fffaf4;
	border-color:#f4c28d;
	color:#efac6a;
	border-width:2px;
}

.booklist .login a:hover {
	color:#e57c13;
	border-color:#ed9f4a;
	background:#fff7ee;
}

/* ブクマ 未ログイン状態の表示 */
li.booklist .logout {
	background:#fafafa;
	border-color:#cccccc;
	color:#aaaaaa;
	display:block;
}



ul#bkm li.bookmark_off a{
	padding: 5px 3px;
	background:#f0f0f0;
	border:1px solid #dddddd;
	color:#aaaaaa;
	text-align:center;
	width:105px;
}

ul#bkm li.bookmark_now {
	margin: 0px 0px 0px 15px;
	background:url(/view/images/ui-icon/bookmarker_on.png) no-repeat bottom left;
}

ul#bkm li.bookmark_now a {
	padding: 5px 0px 0px 18px;
	height:20px;
	color: #666666;
	display: block;
}

ul#bkm li.bookmark {
	margin: 0px 0px 5px 15px;
	display: block;
	padding: 5px 0px 0px 20px;
	width:10px;
	height:20px;
	background:url(/view/images/ui-icon/bookmarker.png) no-repeat bottom left;
	text-indent:-9999px;
}


/******** 連載目次のブックマーク ここから ********/
.novellingindex_bookmarker_no {
	text-align: right;
	padding:0 20px 0 0;
	margin-top: 20px;
}

.novellingindex_bookmarker_no a{
	background:url(/view/images/ui-icon/bookmarker_on.png) no-repeat bottom left;
	padding: 0 0 0 20px;
	display: inline-block;
}

.novel_sublist span.bookmarker_now {
	overflow: hidden;
	width: 20px;/* トリミングしたい枠の幅 */
	height: 17px;/* トリミングしたい枠の高さ */
	position: relative;
	vertical-align:top;
	display: inline-block;
	background:url(/view/images/ui-icon/bookmarker_on.png) no-repeat bottom center;
	margin-top:3px;
}

.novel_sublist img {
	position:absolute;
	bottom:0px;
	left:0px;
}

.novel_sublist li.underline {
	border-bottom:1px solid #000000;
}

.novel_sublist li.underline a {
	font-weight: bold;
}

/******** 連載目次のブックマーク ここまで ********/




/******** フッターのブックマーク ここから ********/
.footer_bookmark {
	margin: 0px 0 15px 0;
}

.footer_bookmark .userfavnovellist,
.footer_bookmark .userfavnovel18list {
	margin-top: 5px;
	text-align: right;
}

.footer_bookmark .userfavnovellist a {
	padding: 5px 10px 5px 30px;
	display: inline-block;
	background:url(/view/images/ui-icon/booklist.gif) no-repeat 5px center;
}

.footer_bookmark .userfavnovel18list a {
	padding: 5px 10px 5px 30px;
	display: inline-block;
	background:url(/view/images/ui-icon/booklistx.gif) no-repeat 5px center;
}

/* ブクマ：booklist */
.footer_bookmark ul {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	box-sizing: border-box;
	padding: 10px 5px;
	background: #ffffff;
	display: block;
}

.footer_bookmark ul li {
	float: left;
	display: inline-block;
	line-height: 18px;
}

.footer_bookmark ul li a {
	padding: 0px;
	color: #666666;
	font-weight:bold;
	display: inline-block;
}

.footer_bookmark ul li.booklist a {
	font-size:12px;
	padding: 3px 10px;
	background:#fffaf4;
	border:2px solid #f4c28d;
	color:#efac6a !important;
	text-align:center;
	font-weight:bold;
}

/* ブクマ中：booklist_now */
.footer_bookmark ul li.booklist_now a {
	padding: 5px 3px;
	background:#f0f0f0;
	border:1px solid #dddddd;
	color:#aaaaaa !important;
	text-align:center;
	width:105px;
	font-weight:normal;
	font-size: 85%;
}


/* しおり：bookmark */
.footer_bookmark ul li.bookmark_now {
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
	background:url(/view/images/ui-icon/bookmarker_on.png) no-repeat bottom left;
	font-size: 85%;
}

.footer_bookmark ul li.bookmark_now a {
	padding: 5px 0px 0px 18px;
	color: #888888 !important;
	border:none;
	font-weight:normal;
	height:20px;
}

.footer_bookmark ul li.bookmark {
	margin: 0px 0px 0px 15px;
	padding: 5px 0px 0px 20px;
	width:10px;
	height:20px;
	background:url(/view/images/ui-icon/bookmarker.png) no-repeat bottom left;
	text-indent:-9999px;
		font-size:85%;
}

/******** フッターのブックマーク ここまで ********/





/* カスタムレイアウト */
/* 標準設定 */
body.customlayout1 {background-color:#fff; background-image:none;}
#novel_color.customlayout1 {color:#444;}
.customlayout1 .error_page {color:#444;}
#novel_contents.customlayout1 #sns_button{color:#444;}
body.customlayout1 .upper a:link, #novel_contents.customlayout1 a:link {color:#03c;}
body.customlayout1 .upper a:visited, #novel_contents.customlayout1 a:visited {color:#857;}
body.customlayout1 .upper a:hover, #novel_contents.customlayout1 a:hover {color:#393;}


/* ブラックモード1 */
body.customlayout2 {background-color:#000; background-image:none;}
#novel_color.customlayout2 {color:#fff;}
.customlayout2 .error_page {color:#b9b9b9;}
.customlayout2 .error_page .attention {color:#ff5555;}
#novel_contents.customlayout2 #sns_button{color:#fff;}
body.customlayout2 .upper a:link, #novel_contents.customlayout2 a:link {color:#fcf;}
body.customlayout2 .upper a:visited, #novel_contents.customlayout2 a:visited {color:#857;}
body.customlayout2 .upper a:hover, #novel_contents.customlayout2 a:hover {color:#f03;}

/* ブラックモード2 */
body.customlayout3 {background-color:#000; background-image:none;}
#novel_color.customlayout3 {color:#ccc;}
.customlayout3 .error_page {color:#ccc;}
.customlayout3 .error_page .attention {color:#ff5555;}
#novel_contents.customlayout3 #sns_button{color:#ccc;}
body.customlayout3 .upper a:link, #novel_contents.customlayout3 a:link {color:#ff9;}
body.customlayout3 .upper a:visited, #novel_contents.customlayout3 a:visited {color:#857;}
body.customlayout3 .upper a:hover, #novel_contents.customlayout3 a:hover {color:#cf0;}

/* 通常1 */
body.customlayout4 {background-color:#ccf; background-image:none;}
#novel_color.customlayout4 {color:#444;}
.customlayout4 .error_page {color:#444;}
#novel_contents.customlayout4 #sns_button{color:#444;}
body.customlayout4 .upper a:link, #novel_contents.customlayout4 a:link {color:#00f;}
body.customlayout4 .upper a:visited, #novel_contents.customlayout4 a:visited {color:#009;}
body.customlayout4 .upper a:hover, #novel_contents.customlayout4 a:hover {color:#00f;}

/* 通常2 */
body.customlayout5 {background-color:#cfc; background-image:none;}
#novel_color.customlayout5 {color:#444;}
.customlayout5 .error_page {color:#444;}
#novel_contents.customlayout5 #sns_button{color:#444;}
body.customlayout5 .upper a:link, #novel_contents.customlayout5 a:link {color:#00f;}
body.customlayout5 .upper a:visited, #novel_contents.customlayout5 a:visited {color:#009;}
body.customlayout5 .upper a:hover, #novel_contents.customlayout5 a:hover {color:#00f;}

/* おすすめ設定 */
body.customlayout6 {background-color:#edf7ff; background-image:none;}
#novel_color.customlayout6 {color:#000;}
.customlayout6 .error_page {color:#000;}
#novel_contents.customlayout6 #sns_button{color:#444;}
body.customlayout6 .upper a:link, #novel_contents.customlayout6 a:link {color:#00f;}
body.customlayout6 .upper a:visited, #novel_contents.customlayout6 a:visited {color:#009;}
body.customlayout6 .upper a:hover, #novel_contents.customlayout6 a:hover {color:#00f;}

/* シンプル */
body.customlayout7 {background-color:#fafafa; background-image:none;}
#novel_color.customlayout7 {color:#444;}
.customlayout7 .error_page {color:#444;}
#novel_contents.customlayout7 #sns_button{color:#444;}
body.customlayout7 .upper a:link, #novel_contents.customlayout7 a:link {color:#00f;}
body.customlayout7 .upper a:visited, #novel_contents.customlayout7 a:visited {color:#009;}
body.customlayout7 .upper a:hover, #novel_contents.customlayout7 a:hover {color:#393;}
