html:not(.light), html:not(.light) * {
  color: #eeeeee !important;
  border-color: #555555 !important;
  background-color: #292929 !important;
}

html:not(.light), html:not(.light) body, html:not(.light)::before, html:not(.light) body::before {
  background-image: none !important;
}

html:not(.light) img, html:not(.light) video {z-index: 1}
html:not(.light) cite, html:not(.light) cite * {color: #029833 !important}
html:not(.light) video {background-color: transparent !important}
html:not(.light) input, html:not(.light) textarea {background-color: #333333 !important}
html:not(.light) input, html:not(.light) select, :not(.light) button {background-image: none !important}
html:not(.light) a {background-color: rgba(255, 255, 255, 0.01) !important}

html:not(.light) :before {color: #eeeeee !important}
html:not(.light) :link, html:not(.light) :link * {color: #8db2e5 !important}
html:not(.light) :visited, html:not(.light) :visited * {color: rgb(211, 138, 138) !important}